.boton{
    margin: auto;
    width: auto;
    color: rgb(238, 234, 234);
    font-family: Georgia,'Times New Roman', Times, serif;
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    font-size: 18px;
    text-align: center;
     

}
h1{
    color: rgb(192, 187, 187);
    text-align: center;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100%;
    height: 50px;
}